@nilmod {
	name: "Mod Vote";
	description: "Bringing the Voting Experience to your favourite mods!";
	authors: "comp500";
	version: "${version}";
}

entrypoints {
	premain: "link.infra.modvote.nil.ModVoteNil";
}
